
<%- include('../partials/userHeader') -%>

<!--<p class="name">Hello <%= user %></p>-->
<h1 class="center bottom1">Titanic stats  </h1>

<div class="nav menu bottom1">
    <a class="button2" href="/secret" class="active item">Clear</a>
    <a class="button" href="/all" class="active item">All</a>
    <div class="dropdown">
        <button class="button">Gender</button>
        <div class="dropdown-content">
            <a class="" href="/secret/male?k=Sex" class="active item">Men</a>
            <a class="" href="/secret/female?k=Sex" class="active item">Women</a>
        </div>
      </div>
    <div class="dropdown">
        <button class="button">Class</button>
        <div class="dropdown-content">
            <a class="" href="/secret/1?k=Pclass" class="active item">Class 1</a>
            <a class="" href="/secret/2?k=Pclass" class="active item">Class 2</a>
            <a class="" href="/secret/3?k=Pclass" class="active item">Class 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="button">Status</button>
        <div class="dropdown-content">
            <a class="" href="/secret/1?k=Survived" class="active item">Alive</a>
            <a class="" href="/secret/0?k=Survived" class="active item">Dead</a>
        </div>
      </div>
    <a class="button2" href="/stats" class="active item">Stat</a>
</div>

<% if (passengers) {%>
    <ul class="passengerlist">
        <% for(const {Name:name, Survived:survived, Age:age, Pclass:pclass} of passengers){%>
            <% if (survived === 0) { %> 
                <li class="passenger dead">
                    <p>Nom: <%= name %></p>
                    <p>Age: <%= age %></p>
                    <p>Classe: <%= pclass %></p>
                    <p>Status: 
                        <% if (survived === 1){ %>
                            Alive
                        <% }  %>
                        <% if (survived === 0) { %> 
                          <span>Dead</span>  
                        <% } %>
                    </p>
                </li>
            <% }%>
            <% if (survived === 1) { %> 
                <li class="passenger">
                    <p>Nom: <%= name %></p>
                    <p>Age: <%= age %></p>
                    <p>Classe: <%= pclass %></p>
                    <p>Status: 
                        <% if (survived === 1){ %>
                            Alive
                        <% }  %>
                        <% if (survived === 0) { %> 
                          <span class="dead">Dead</span>  
                        <% } %>
                    </p>
                </li>
            <% }%>
        <% }%>
    </ul>
<%} %>


<%- include('../partials/footer') -%>