
<%- include('../partials/userHeader') -%>

<p id="name"></p>
<h1>Titanic stats  </h1>

<a href="/secret/male" class="active item">Hommes</a>
<a href="/secret/female" class="active item">Femmes</a>

<% if (passengers) {%>
    <ul>
        <% for(const {Name:name, Survived:survived, Age:age, Pclass:pclass} of passengers){%>
            
                <li>
                    <p>Nom: <%= name %></p>
                    <p>Age: <%= age %></p>
                    <p>Classe: <%= pclass %></p>
                    <p>A survécu ? 
                        <% if (survived === 1){ %>
                            Oui
                       <% }  %>
                       <% if (survived === 0) { %> 
                            Non
                        <% } %>
                    </p>
                </li>
            
        <% }%>
    </ul>
<%} %>


<%- include('../partials/footer') -%>