
<%- include('../partials/userHeader') -%>

<p id="name"></p>
<h1>Titanic stats  </h1>

<a class="button" href="/all" class="active item">All</a>
<a class="button" href="/secret/male?k=Sex" class="active item">Men</a>
<a class="button" href="/secret/female?k=Sex" class="active item">Women</a>
<a class="button" href="/secret/1?k=Pclass" class="active item">Classe</a>
<a class="button" href="/secret/1?k=Survived" class="active item">Alive</a>
<a class="button" href="/secret/0?k=Survived" class="active item">Dead</a>
<a class="button" href="/stats" class="active item">Stat</a>

<% if (passengers) {%>
    <ul class="passengerlist">
        <% for(const {Name:name, Survived:survived, Age:age, Pclass:pclass} of passengers){%>
            
                <li class="passenger">
                    <p>Nom: <%= name %></p>
                    <p>Age: <%= age %></p>
                    <p>Classe: <%= pclass %></p>
                    <p>A survécu ? 
                        <% if (survived === 1){ %>
                            Oui
                        <% }  %>
                        <% if (survived === 0) { %> 
                            Non
                        <% } %>
                    </p>
                </li>
            
        <% }%>
    </ul>
<%} %>


<%- include('../partials/footer') -%>