
<%- include('../partials/userHeader') -%>
<div>
    <div class="flex">
        
        <h1>Titanic Data stats </h1>
        <a class="button bottom1" href="/secret" class="active item">RETURN</a>

    </div>

    <div class="list bottom1">
        <% passengers.forEach((passenger,index) => {%>
            <ul>
                <li class="titletr"><%= passenger._id.sex %></li>
                <li>Class <%= passenger._id.pclass %></li>
                <li>
                    <% if (passenger._id.survived === 1){ %>
                        Alive
                    <% }  %>
                    <% if (passenger._id.survived === 0){ %>
                        Dead
                    <% }  %>
                </li>
                <li>Total <%=passenger.total %></li>
            </ul>
        <% });%> 
    </div>
    <div class="bottom1">
        <%- include('../partials/graph') -%>
    </div>
    

    <a class="button center bottom1" href="/stats/avg" class="active item">Other stats</a>

</div>
<%- include('../partials/footer') -%>